openapi: 3.0.3
info:
  title: 24SevenOffice Public API
  version: 0.33.1
servers:
  - url: https://rest.api.24sevenoffice.com/v1
paths:
  /accountbalances:
    get:
      summary: Read account balances
      description: Read a list of account balances with monthly changes for a defined period.
      tags:
        - accountbalances
      security:
        - tfso:
            - api.accounting.transaction.accountbalance:read
            - api.accounting.account:read
      parameters:
        - name: dateFrom
          in: query
          required: true
          description: The starting date from which balances will be retrieved.
          schema:
            $ref: '#/components/schemas/DateFrom'
        - name: dateTo
          in: query
          required: true
          description: The ending date until which balances will be retrieved.
          schema:
            $ref: '#/components/schemas/DateTo'
        - name: periods
          in: query
          description: Specifies the periods for which the balances will be retrieved.
          schema:
            $ref: '#/components/schemas/Periods'
        - name: type
          in: query
          description: Specifies the type of data to be retrieved.
          schema:
            $ref: '#/components/schemas/Type'
        - name: keepIncoming
          in: query
          description: Indicates whether to include incoming amounts in the response. Default is false.
          schema:
            $ref: '#/components/schemas/KeepIncoming'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AggregationElement'
              examples:
                AccountBalancesReadAllResponseExample:
                  $ref: '#/components/examples/AccountBalancesReadAllResponseExample'
            application/hal:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      records:
                        type: array
                        items:
                          $ref: '#/components/schemas/AggregationElement'
                  beginningAt:
                    type: string
                    format: date
                  endingAt:
                    type: string
                    format: date
                  fiscals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fiscal'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /accountbalances/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Read an account balance by ID
      description: Read a list of account balances with monthly changes for a defined period for a specific account identified by its unique ID.
      tags:
        - accountbalances
      security:
        - tfso:
            - api.accounting.transaction.accountbalance:read
            - api.accounting.account:read
      parameters:
        - name: dateFrom
          in: query
          required: true
          description: The starting date from which balances will be retrieved.
          schema:
            $ref: '#/components/schemas/DateFrom'
        - name: dateTo
          in: query
          required: true
          description: The ending date until which balances will be retrieved.
          schema:
            $ref: '#/components/schemas/DateTo'
        - name: periods
          in: query
          description: Specifies the periods for which the balances will be retrieved.
          schema:
            $ref: '#/components/schemas/Periods'
        - name: type
          in: query
          description: Specifies the type of data to be retrieved.
          schema:
            $ref: '#/components/schemas/Type'
        - name: keepIncoming
          in: query
          description: Indicates whether to include incoming amounts in the response. Default is false.
          schema:
            $ref: '#/components/schemas/KeepIncoming'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AggregationElement'
            application/hal:
              schema:
                type: object
                properties:
                  _embedded:
                    type: object
                    properties:
                      records:
                        type: array
                        items:
                          $ref: '#/components/schemas/AggregationElement'
                  beginningAt:
                    type: string
                    format: date
                  endingAt:
                    type: string
                    format: date
                  fiscals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fiscal'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /accounts:
    get:
      tags:
        - accounts
      security:
        - tfso:
            - api.accounting.account:read
      summary: Read accounts
      description: Read a list of accounts, including their details.
      parameters:
        - name: query
          in: query
          description: Filters accounts containing the specified keyword(-s) within their name or number properties. For example, a GET request `/accounts/?query=salary` would return accounts with "salary" in their name or number.
          schema:
            type: string
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account1'
              examples:
                AccountReadAllResponseExample:
                  $ref: '#/components/examples/AccountReadAllResponseExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: A unique identifier for the account within 24SevenOffice accounting module.
        schema:
          type: integer
    get:
      summary: Read an account by ID
      description: Read details of a specific account identified by its unique ID.
      tags:
        - accounts
      security:
        - tfso:
            - api.accounting.account:read
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account1'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /currencies:
    get:
      summary: Read currencies
      description: Read a list of available currencies within 24SevenOffice accounting module.
      tags:
        - currencies
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currencies'
              examples:
                CurrenciesReadAllResponseExample:
                  $ref: '#/components/examples/CurrenciesReadAllResponseExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso: []
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /fiscalperiods:
    get:
      summary: Read fiscal periods
      description: Read a list of fiscal periods.
      tags:
        - fiscalPeriods
      security:
        - tfso:
            - api.accounting.fiscalperiod:read
      parameters:
        - name: type
          in: query
          description: Filter the results by type of accounting period. Use "Period" to retrieve only sub-periods within financial years, "Year" to retrieve only full financial years, or "All" to retrieve both financial years and their associated periods.
          schema:
            type: string
            enum:
              - Year
              - Period
              - All
            default: Year
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of fiscal periods.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountingPeriod'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /taxes:
    get:
      summary: Read tax codes
      description: Read a list of tax codes available in the accounting system.
      tags:
        - Taxes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxResponse'
              examples:
                TaxReadAllResponseExample:
                  $ref: '#/components/examples/TaxReadAllResponseExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.accounting.tax:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /taxes/{id}:
    parameters:
      - name: id
        in: path
        description: A unique identifier for the tax code within 24SevenOffice ERP modules.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
    get:
      summary: Read a tax code by ID
      description: Read details of a specific tax code identified by its unique ID.
      tags:
        - Taxes
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.accounting.tax:read
  /transactionlines:
    get:
      summary: Read transaction lines
      description: Read a list of transaction lines for a defined period, based on various filtering criteria.
      tags:
        - transactionLines
      security:
        - tfso:
            - api.accounting.transaction:read
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
          description: The starting date (inclusive) from which transactions will be retrieved.
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
          description: The ending date (exclusive) until which transactions will be retrieved. If set to 2024-01-01, the latest result will be retrieved before 23:59 on 2023-12-31.
        - name: transactionNumber
          in: query
          schema:
            type: number
          description: The unique number representing the transaction.
        - name: transactionTypeId
          in: query
          schema:
            type: integer
          description: ID representing the type of transaction.
        - name: customerId
          in: query
          schema:
            type: integer
          description: ID of the customer involved in the transaction.
        - name: accountId
          in: query
          schema:
            type: integer
          description: ID of the account involved in the transaction.
        - name: accountNumber
          in: query
          schema:
            type: integer
          description: The number of the account involved in the transaction.
        - name: invoiceNumber
          in: query
          schema:
            type: string
          description: The invoice number associated with the transaction.
        - name: currencyCode
          in: query
          schema:
            type: string
          description: |
            The currency code used in the transaction.
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: The maximum number of transactions to retrieve.
        - name: includeDimensions
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to include dimension information in the response.
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: The page number of the results to retrieve.
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            link:
              description: The "link" header includes information on where to find `first`, `previous` and `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
              examples:
                TransactionLinesReadAllResponseExample:
                  $ref: '#/components/examples/TransactionLinesReadAllResponseExample'
  /transactionlines/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        description: The unique identifier for the transaction line.
    get:
      summary: Read a transaction line by ID
      description: Read a single transaction line identified by its unique ID.
      tags:
        - transactionLines
      security:
        - tfso:
            - api.accounting.transaction:read
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /transactiontypes:
    get:
      summary: Read transaction types
      description: Read a list of available transaction types within 24SevenOffice accounting module.
      tags:
        - transactionTypes
      security:
        - tfso:
            - api.accounting.transactiontype:read
            - api.accounting.transaction:read
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionTypes'
              examples:
                TransactionTypesReadAllResponseExample:
                  $ref: '#/components/examples/TransactionTypesReadAllResponseExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /bankaccounts:
    get:
      tags:
        - bankAccounts
      summary: Read bank accounts
      description: Read a list of bank accounts with details. Each bank account includes information such as account number, BIC, type, name, owner details, creation timestamp, modification timestamp, and the latest balance information, should there be one available.
      security:
        - tfso:
            - api.bank.account:read
      parameters:
        - name: before
          in: query
          required: false
          description: The date to get the balance from. The balance returned will be the last balance before this date. If omitted, the current date is used. The date format here is YYYY-MM-DD.
          schema:
            type: string
            format: date
            example: '2024-06-01'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: List of bank accounts
                type: array
                items:
                  $ref: '#/components/schemas/BankAccountResponse'
              examples:
                BankAccountsReadAllResponseExample:
                  $ref: '#/components/examples/BankAccountsReadAllResponseExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
    post:
      tags:
        - bankAccounts
      summary: Create a bank account
      description: Create a new bank account record with specified details including account number, BIC, type, name, owner details, and optional initial balance information.
      security:
        - tfso:
            - api.bank.account:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountRequestPost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountResponse'
              examples:
                BankAccountExample:
                  $ref: '#/components/examples/BankAccountExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /bankaccounts/{id}:
    get:
      tags:
        - bankAccounts
      summary: Read a bank account by ID
      description: Read details for a specific bank account identified by its unique identifier. The response includes information such as account number, BIC, type, name, owner details, creation timestamp, modification timestamp, and the latest balance information, should there be one available.
      security:
        - tfso:
            - api.bank.account:read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: before
          in: query
          required: false
          description: The date to get the balance from. The balance returned will be the last balance before this date. If omitted, the current date is used. The date format here is YYYY-MM-DD.
          schema:
            type: string
            format: date
            example: '2024-06-02'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountResponse'
              examples:
                BankAccountWithBalanceExample:
                  $ref: '#/components/examples/BankAccountWithBalanceExample'
                BankAccountExample:
                  $ref: '#/components/examples/BankAccountExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /bankaccounts/{id}/balances:
    post:
      tags:
        - bankAccounts
      summary: Create a new bank account balance
      description: Add a new balance entry for a specific bank account identified by its unique identifier. The balance entry includes the amount, timestamp, and currency code. The endpoint facilitates accurate tracking of the bank account's financial status over time.
      security:
        - tfso:
            - api.bank.account:write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountBalanceRequestPost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountBalanceResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /banktransactions:
    get:
      tags:
        - bankTransactions
      summary: Read bank transactions
      description: |
        Read a list of bank transactions based on specified filters. Each transaction includes details such as transaction reference, type, bank account details, payment reference, amount, date, and status.
      security:
        - tfso:
            - api.bank.transaction:read
      parameters:
        - name: dateFrom
          in: query
          required: true
          description: Filter bank transactions by start date (inclusive). Date format should be YYYY-MM-DD. Compares dates by greater or equal. Accepts dates in ISO 8601 format.
          example: {}
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          required: true
          description: Filter bank transactions by end date (inclusive). Date format should be YYYY-MM-DD. Compares dates by less or equal. Accepts dates in ISO 8601 format. The date range cannot span more than two years.
          example: {}
          schema:
            type: string
            format: date
        - name: bankAccountId
          in: query
          description: Filter bank transactions by bank account ID.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Specify the number of items to fetch per page, defaults to 25.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          description: Specify the page number to fetch, defaults to 1.
          schema:
            type: integer
            format: int
            minimum: 1
            maximum: 1000
            default: 1
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          headers:
            link:
              description: The "link" header includes information on where to find `first`, `self`, `previous` and `next` page. The last page does not include `next` link. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankTransactionResponse'
              examples:
                BankTransactionsExample:
                  $ref: '#/components/examples/BankTransactionsExample'
    post:
      tags:
        - bankTransactions
      summary: Create a new bank transaction
      description: |
        The `bankAccount.id` is a required property. Before creating bank transaction, a bank account must exists. See `POST /bankaccounts`

        When creating a bank transaction, the backend system loads the existing bank account record using `bankAccount.id`. Information from the bank account is then appended to the bank transaction based on the transaction's direction type (inbound or outbound).

        * For outbound transactions, the `fromBankAccount` field is automatically populated from the specified bank account.
        * For inbound transactions, the `toBankAccount` field is automatically populated from the specified bank account.

        Note: When these fields are automatically set, any input provided in these properties will be ignored.
      security:
        - tfso:
            - api.bank.transaction:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankTransactionRequestPost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransactionResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /banktransactions/{bankTransactionReference}:
    get:
      tags:
        - bankTransactions
      summary: Read a bank transaction by bank transaction reference
      description: Read details of a specific bank transaction identified by its unique bank transaction reference supplied by the bank.
      security:
        - tfso:
            - api.bank.transaction:read
      parameters:
        - name: bankTransactionReference
          in: path
          required: true
          description: Unique identifier for the bank transaction supplied by the bank that manages the bank account.
          schema:
            type: string
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransactionResponse'
              examples:
                BankTransactionExampleMinimal:
                  $ref: '#/components/examples/BankTransactionExampleMinimal'
                BankTransactionExampleFull:
                  $ref: '#/components/examples/BankTransactionExampleFull'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
  /customers:
    get:
      summary: Read customers
      description: Read a list of all customers, including their details, with pagination, or a subset of customers based on query parameters. Whether a customer is a company or a private person is controlled by "isCompany" flag property. The schemas are also slightly different for a company (no "person" property) or a person (no "organizationNumber").
      tags:
        - Customers
      operationId: GetCustomers
      parameters:
        - name: limit
          in: query
          schema:
            default: 25
            maxLength: 100
            type: number
            format: int32
        - name: organizationNumber
          in: query
          description: Filter customers by organization number.
          schema:
            type: string
        - name: isCompany
          in: query
          description: A flag variable to filter customers by company or person.
          schema:
            type: boolean
        - name: isSupplier
          in: query
          description: A flag variable to filter customers by being a supplier or not.
          schema:
            type: boolean
        - name: modifiedFrom
          in: query
          description: Filter customers by date of last modification. Compares dates by greater or equal and accepts dates in ISO8601 format
          example: {}
          schema:
            type: string
        - name: createdFrom
          in: query
          description: Filter customers by date created. Compares dates by greater or equal and accepts dates in ISO8601 format
          example: {}
          schema:
            type: string
        - name: sortBy
          in: query
          required: false
          description: Sort customers by field and direction. Takes in a pair of field and direction separated by a colon symbol ':'
          schema:
            $ref: '#/components/schemas/SortInput'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            link:
              description: The "link" header includes information on where to find `first`, `previous` and `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          description: Ok
          content:
            application/json:
              schema:
                type: array
                description: List of customers
                items:
                  $ref: '#/components/schemas/CustomerProperties'
              examples:
                CustomerReadAllResponseExample:
                  $ref: '#/components/examples/CustomerReadAllResponseExample'
        '401':
          description: Unauthorized. Missing or invalid bearer token.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.crm.customer:read
    post:
      summary: Create a customer
      description: |
        Create a new customer record for a company or a person, and get the newly created customer in return. 

        For a new company customer, define "name" property and set "isCompany" flag to true in the request body. For a new private person customer, define "firstName" and "lastName" under the "person" property, and set "isCompany" flag to false in the request body. These are the minimum required properties that should be defined in the request body for creating a new customer. 

        All other properties for a customer (see response attributes for each property description) can also be defined in the request body, except for "person" when a new customer is a company, and "organizationNumber" and "name" (this one is generated from "firstName" and "lastName" under the "person" property) when a new customer is a person.
      tags:
        - Customers
      operationId: CreateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPostRequest'
            examples:
              CustomerCreateRequestExample:
                $ref: '#/components/examples/CustomerCreateRequestExample'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '401':
          description: Unauthorized. Missing or invalid bearer token.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.crm.customer:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /customers/{id}:
    get:
      summary: Read a customer by ID
      description: Read details of a specific customer identified by its unique ID.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/id'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '401':
          description: Unauthorized. Missing or invalid bearer token.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.crm.customer:read
    patch:
      summary: Update a customer
      description: |
        Update details of a specific customer identified by its uinque customer ID, and receive the updated details in return.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/id'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      operationId: UpdateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPatchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '401':
          description: Unauthorized. Missing or invalid bearer token.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.crm.customer:write
    delete:
      summary: Delete a customer
      description: Delete a specific customer identified by its unique ID.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/id'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Success. No content
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '401':
          description: Unauthorized. Missing or invalid bearer token.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.crm.customer:write
  /dimensions:
    get:
      description: List all dimension-types. Get a list of all dimension-types in the system. Elements with id below 100 are system dimension-types and will be the same across all clients. Elements with id above 100 are custom dimension-types specific to the client.
      tags:
        - Dimensions
      responses:
        '200':
          description: A list of dimension-types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dimension'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.accounting.dimension:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /dimensions/{dimensionType}:
    parameters:
      - name: dimensionType
        in: path
        required: true
        schema:
          type: integer
    get:
      description: List single dimension-type. Get description of a single dimension-type by id.
      tags:
        - Dimensions
      responses:
        '200':
          description: The dimension-type with the specified id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dimension'
              example:
                - id: 1
                  name: Project
                - id: 2
                  name: Department
                - id: 3
                  name: Employee
                - id: 4
                  name: Product
                - id: 5
                  name: Customer
                - id: 101
                  name: Custom Dimension 1
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.accounting.dimension:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /dimensions/{dimensionType}/elements:
    parameters:
      - name: dimensionType
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        description: The maximum number of elements to retrieve.
        schema:
          type: integer
      - name: continuationToken
        in: query
        description: A token for continuing the retrieval of sales orders. This is used for pagination and is prepopulated from the Link-header with rel=next from a previous request.
        schema:
          type: string
    get:
      description: |
        List dimension elements.
        Get a list of active dimension elements for a specific dimension type.
        If there are many elements, the results will be paginated, and a Link-header with rel=next will provide the path to the next page.
      tags:
        - Dimensions
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of dimension elements for the specified dimension type.
          headers:
            Link:
              description: The Link header includes information on where to find `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link'
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DimensionElement'
      security:
        - tfso:
            - api.accounting.dimension:read
  /dimensions/{dimensionType}/elements/{value}:
    parameters:
      - name: dimensionType
        in: path
        required: true
        schema:
          type: integer
      - name: value
        in: path
        required: true
        schema:
          type: string
    get:
      description: List single dimension element. Get a single dimension element by dimension type (id) and value (id).
      tags:
        - Dimensions
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Single dimension element for the specified dimension type and value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionElement'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.accounting.dimension:read
  /salesorders:
    post:
      summary: Create a sales order
      description: Create a new sales order with customer details and order information.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderExtended'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    get:
      summary: Read sales orders
      description: Read existing sales orders with optional filters.
      parameters:
        - name: limit
          in: query
          description: The maximum number of sales orders to retrieve.
          schema:
            type: number
            format: int32
        - name: continuationToken
          in: query
          description: A token for continuing the retrieval of sales orders.
          schema:
            type: string
        - name: date
          in: query
          description: A specific date to filter sales orders.
          schema:
            type: string
            format: date
        - name: dateFrom
          in: query
          description: A start date to filter sales orders.
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          description: An end date to filter sales orders.
          schema:
            type: string
            format: date
        - name: status
          in: query
          description: Filter sales orders by their status.
          schema:
            type: string
            enum:
              - Draft
              - Proposal
              - Confirmed
              - Invoice
              - AdvanceInvoice
        - name: customerId
          description: Filter sales orders by customer ID.
          in: query
          schema:
            type: string
        - name: invoiceNumber
          in: query
          description: Filter sales orders by invoice number.
          schema:
            type: string
        - name: createdFrom
          in: query
          description: A start date-time to filter sales orders by creation time.
          schema:
            type: string
            format: date-time
        - name: createdTo
          in: query
          description: An end date-time to filter sales orders by creation time.
          schema:
            type: string
            format: date-time
        - name: modifiedFrom
          in: query
          description: A start date-time to filter sales orders by modification time.
          schema:
            type: string
            format: date-time
        - name: modifiedTo
          in: query
          description: An end date-time to filter sales orders by modification time.
          schema:
            type: string
            format: date-time
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Link:
              description: The Link header includes information on where to find `first`, `previous` and `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link'
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrder'
              examples:
                SalesOrdersReadAllResponseExample:
                  $ref: '#/components/examples/SalesOrdersReadAllResponseExample'
      security:
        - tfso:
            - api.invoicing.salesorder:read
  /salesorders/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: A unique identifier for the sales order within 24SevenOffice ERP.
        schema:
          type: integer
          format: int32
    get:
      summary: Read a sales order by ID
      description: Read details of a specific sales order identified by its unique ID.
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderExtended'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder:read
    patch:
      summary: Update a sales order
      description: Update details of a specific sales order identified by its unique sales order ID, and receive the updated details in return. An existing sales order can be invoiced by updating its `status` to "Invoice". Before a sales order can be invoiced, it needs to include at least one sales order line.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestPatch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderExtended'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /salesorders/{id}/attachments:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
    get:
      summary: Read sales order attachments
      description: Read all attachments associated with a specific sales order.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderAttachment'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.attachment:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    post:
      parameters:
        - name: Content-Disposition
          in: header
          schema:
            type: string
            example: filename="attachment.pdf"
        - name: Content-Type
          in: header
          required: true
          description: The Content-Type for the attachment
          schema:
            type: string
            example: application/pdf
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      summary: Add an attachment to a sales order
      description: Add a new attachment to a specific sales order. The filename should be specified in the `Content-Disposition` header, and the `Content-Type` header must reflect the MIME type of the attachment being uploaded. The file itself should be included in the request body, and should be less than 4 MB in size.
      requestBody:
        content:
          application/pdf:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          multipart/form-data:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Newly created attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderAttachment'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '403':
          description: Order is already invoiced, cannot add attachments
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.attachment:write
  /salesorders/{id}/lines:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The unique identifier for the sales order, to which the sales order lines pertain.
    get:
      summary: Read sales order lines
      description: Read all lines associated with a specific sales order.
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Line'
              examples:
                SalesOrderLinesReadAllExample:
                  $ref: '#/components/examples/SalesOrderLinesReadAllExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.line:read
    post:
      summary: Create a sales order line
      description: Add a new line to a specific sales order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineWithoutId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.line:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /salesorders/{id}/lines/{lineId}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The unique identifier for the sales order, to which all the sales order lines pertain.
      - name: lineId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        description: The unique identifier of the sales order line.
    get:
      summary: Read a sales order line by ID
      description: Read a specific line from a sales order by the line's ID.
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.line:read
    patch:
      summary: Update a sales order line
      description: Update the details of a specific line in a sales order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Line'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.invoicing.salesorder.line:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /me:
    get:
      summary: Read profile
      description: |
        Read information about the current profile. This endpoint is only available for access tokens that have the identityId claim.

        24SevenOffice is a multi-tenant application, where a personal login gives access to more than one organization and its people. 

        Hence, there exist "identity", "organization" and the organization’s "people".

        ==Identity== → *Organization → *Person

        > info
        > Identity
        > An `identity` is a personal user who logs into 24SevenOffice. An `identity` will have one or more unique identifiers for the personal user, such as an email or a phone number
        > An `identity` may or may not have access to one or more organizations through a person.

        24SevenOffice has a global identity pool where an identity may have access to all organizations available in 24SevenOffice.
      tags:
        - Profile
      parameters:
        - name: thumb
          in: query
          description: A flag variable to include a thumbnail image in the response.
          schema:
            type: boolean
            default: false
        - name: bigthumb
          in: query
          description: A flag variable to include a larger thumbnail image in the response.
          schema:
            type: boolean
            default: false
        - name: maxAge
          in: query
          description: Maximum age of the cached profile data in seconds.
          schema:
            type: integer
            format: int32
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileModel'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.me.profile:read
  /me/identifiers:
    get:
      summary: Read identifiers
      description: Read identifiers for a profile, where identifiers, such as an email and a phone, may or may not be verified.
      tags:
        - Profile
      parameters:
        - name: type
          in: query
          description: The type of identifiers to retrieve.
          schema:
            type: string
        - name: status
          in: query
          description: Status of the identifier as per communication status type.
          schema:
            $ref: '#/components/schemas/CommunicationStatusType'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentifierModel'
              example:
                - id: 123e4567-e89b-12d3-a456-426614174002
                  type: Email
                  value: john.doe@example.com
                  status: Confirmed
                - id: 123e4567-e89b-12d3-a456-426614174003
                  type: Phone
                  value: +47-87654321
                  status: Unconfirmed
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.me.identifiers:read
  /me/identifiers/{id}:
    get:
      summary: Read an identifier by ID
      description: Read details of a specific identifier identified by its unique ID.
      tags:
        - Profile
      parameters:
        - name: id
          in: path
          required: true
          description: A unique identifier for the identifier within 24SevenOffice.
          schema:
            type: string
            format: uuid
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifierModel'
              example:
                id: 123e4567-e89b-12d3-a456-426614174002
                type: Email
                value: john.doe@example.com
                status: Confirmed
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.me.identifiers:read
  /me/licenses:
    get:
      summary: Read licenses
      description: Read all licenses for a profile. Receive in return the identifiers for an organization and the connected person within that company. This information can be used as a login hint to get an access token for operational work on behalf of the connected person.
      tags:
        - Profile
      operationId: GetLicenses
      parameters:
        - name: organizationId
          in: query
          description: Identifier for the organization.
          schema:
            type: integer
            format: int64
        - name: personId
          in: query
          description: Identifier for the connected person.
          schema:
            type: integer
            format: int32
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LicenseModel'
              example:
                - id: 123e4567-e89b-12d3-a456-426614174003
                  name: ABC Corporation
                  organizationId: 12345
                  identityId: 123e4567-e89b-12d3-a456-426614174001
                  personId: 67890
                - id: 123e4567-e89b-12d3-a456-426614174004
                  name: XYZ Inc.
                  organizationId: 78901
                  identityId: 123e4567-e89b-12d3-a456-426614174002
                  personId: 54321
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.me.license:read
  /me/licenses/{id}/organization:
    get:
      summary: Read an organization by license ID
      description: Read a summary of the organization connected to a license identified by its unique license ID. This summary provides more information than just the organization name, and is useful for looking up details about all connected licenses without authorization from other organizations with login hints.
      tags:
        - Profile
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier for the license.
          schema:
            type: string
            format: uuid
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationModel'
              example:
                id: 123e4567-e89b-12d3-a456-426614174004
                name: ABC Corporation
                email: contact@example.com
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.organization.information:read
  /organization/information:
    get:
      summary: Read organization
      description: |
        Read information about the organization that the current profile is logged into. 

        24SevenOffice is a multi-tenant application, where a personal login gives access to more than one organization and its people.

        Hence, there exist "identity", "organization" and the organization’s "people".

        Identity → ==*Organization== → *Person

        > info
        > Organization
        > An `organization` is usually a legal entity based in a certain country. An organization will own all of its data such as customers, invoices, transactions, etc.
        > An `organization` will have many people that may be employees, connections, etc.
      tags:
        - Organization
      operationId: GetClient
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationModel1'
              example:
                id: 12345
                name: ABC Corporation
                email: contact@example.com
                invoiceEmail: invoices@example.com
                address:
                  street: Hovedgata 1
                  city: Baerum
                  postalArea: Fornebu
                  postalCode: '0123'
                  countrySubdivision: Viken
                  countryCode: 'NO'
                status: Active
                settings:
                  currencyCode: NOK
                contact:
                  name: John Doe
                  phone: +47-87654321
                  email: john.doe@example.com
                  language: en
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.organization.information:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /organization/people:
    get:
      summary: Read people
      description: |
        Read a list of all people under the organization.

        24SevenOffice is a multi-tenant application, where a personal login gives access to more than one organization and its people. 

        Hence, there exist "identity", "organization" and the organization’s "people".

        Identity → *Organization → ==*Person==

        > info
        > People
        > A `person` is owned by an `organization`, and will usually be an employee or an owner of the `organization`. 
        > A `person` may be connected to an `identity`. 
        > An `identity` connected to a `person` may have a certain role in an `organization`, that will result in a set of permissions called `scopes`.
      tags:
        - Organization
      parameters:
        - name: personType
          in: query
          description: Type of person to filter by.
          schema:
            $ref: '#/components/schemas/TfsoApiOrganizationModelsUserType'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadAllExample'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadAllExample'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadAllExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.organization.person:read
  /organization/people/{id}:
    get:
      summary: Read a person
      description: Read information about a single person identified by its unique ID.
      tags:
        - Organization
      parameters:
        - name: id
          in: path
          description: A unique identifier for the person within 24SevenOffice.
          required: true
          schema:
            type: integer
            format: int32
        - name: personType
          in: query
          description: Type of person to filter by.
          schema:
            $ref: '#/components/schemas/TfsoApiOrganizationModelsUserType'
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadOneExample'
            application/json:
              schema:
                $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadOneExample'
            text/json:
              schema:
                $ref: '#/components/schemas/TfsoApiOrganizationUnitOfWorkModelsPersonModel'
              examples:
                PeoplerReadAllExample:
                  $ref: '#/components/examples/PeopleReadOneExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
        '404':
          description: Not Found
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.organization.person:read
  /productcategories:
    get:
      summary: Read product categories
      description: Read a list of product categories.
      tags:
        - ProductCategory
      operationId: GetCategories
      responses:
        '200':
          headers:
            link:
              description: The "link" header includes information on where to find `first`, `previous` and `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categories'
              examples:
                ProductCategoryReadAllResponseExample:
                  $ref: '#/components/examples/ProductCategoryReadAllResponseExample'
      security:
        - tfso:
            - api.product.category:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    post:
      summary: Create a product category
      description: Create a new product category with specified attributes and receive the details of the newly created category in the response.
      tags:
        - ProductCategory
      operationId: CreateCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryPostRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.category:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /productcategories/{id}:
    parameters:
      - name: id
        in: path
        description: A unique identifier for the product category within 24SevenOffice ERP modules.
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 12
    get:
      summary: Read a product category by ID
      description: Read details of a specific product category identified by its unique ID.
      tags:
        - ProductCategory
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.category:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    patch:
      summary: Update a product category
      description: Update details of a specific product category identified by its unique ID, and receive the updated details in return.
      tags:
        - ProductCategory
      operationId: UpdateCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryPatchRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.category:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    delete:
      summary: Delete a product category
      description: Delete a specific product category identified by its unique ID.
      tags:
        - ProductCategory
      operationId: DeleteCategory
      responses:
        '204':
          description: Success. No content
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.category:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /productunits:
    get:
      summary: Read product units
      description: Read a list of available units of measurement for products.
      tags:
        - ProductUnits
      operationId: GetUnits
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Units'
              examples:
                Units:
                  $ref: '#/components/examples/Units'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.unit:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /products:
    get:
      summary: Read products
      description: Read a list of products, including their details, with pagination, or a subset of products based on query parameters. Products may have different attributes such as name, description, price, and stock information. The endpoint supports various search criteria for filtering products based on specific attributes.
      tags:
        - Products
      operationId: GetProducts
      parameters:
        - in: query
          name: page
          description: Specify the page number to fetch, defaults to 1.
          schema:
            type: integer
            format: int
          example: 1
        - in: query
          name: limit
          description: Specify the number of items to fetch per page, defaults to 25.
          schema:
            type: integer
            format: int
          example: 25
        - in: query
          name: productSearch
          examples:
            name exact:
              value: White shoe laces
            name contains:
              value: '%shoe%'
            name startsWith:
              value: White shoe%
            name endsWith:
              value: '%laces'
          description: Perform a search in productNumber, name, and supplier's productNumber and name. Wildcards are allowed using '%'. '%' at the end returns 'starts with'. '%' at the beginning returns 'ends with'. '%' at both ends returns 'contains'.
          schema:
            type: string
        - in: query
          name: productNumber
          description: Searches for product number.
          example: '1234'
          schema:
            type: string
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            link:
              description: The "link" header includes information on where to find `first`, `previous` and `next` page. Refer to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Link
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
              examples:
                ProductReadAllResponseExample:
                  $ref: '#/components/examples/ProductReadAllResponseExample'
      security:
        - tfso:
            - api.product.product:read
    post:
      summary: Create a product
      description: |
        Create a new product record with specified attributes and receive the details of the newly created product in the response.
      tags:
        - Products
      operationId: CreateProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequestPost'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.product:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /products/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 123
        description: A unique identifier for the product within 24SevenOffice ERP-modules.
    get:
      summary: Read a product by ID
      description: Read details of a specific product identified by its unique ID.
      tags:
        - Products
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.product:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    patch:
      summary: Update a product
      description: |
        Update details of a specific product identified by its unique product ID, and receive the updated details in return.
      tags:
        - Products
      operationId: UpdateProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequestPatch'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.product:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
    delete:
      summary: Delete a product
      description: Delete a specific product identified by its unique ID.
      tags:
        - Products
      operationId: DeleteProduct
      responses:
        '204':
          description: Success. No content
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.product:write
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /salestypes:
    get:
      summary: Read sales types
      description: Read a list of sales types available in the system.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesType'
              examples:
                salesTypeListExample:
                  $ref: '#/components/examples/SalesTypeListExample'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.salestype:read
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
  /salestypes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The ID of the sales type to retrieve.
        schema:
          type: integer
          format: int32
    get:
      summary: Read sales type by ID
      description: Read details of a specific sales type by its ID.
      parameters:
        - in: header
          name: Authorization
          description: Authorization header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesType'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Credentials:
              schema:
                type: string
            X-Trace-Id:
              schema:
                type: string
      security:
        - tfso:
            - api.product.salestype:read
components:
  schemas:
    Account:
      type: object
      description: Information about the account for which the balances belong to.
      properties:
        id:
          type: integer
          description: A unique identifier for the account within 24SevenOffice accounting module.
          example: 1000001
        number:
          type: integer
          description: The unique number that indicates which type of account it belongs to.
          example: 1900
        name:
          type: string
          description: The human-readable name that describes the purpose or nature of the account.
          example: Cash, NOK
    Type:
      type: string
      default: Date
      enum:
        - Date
        - Period
    KeepIncoming:
      type: boolean
      default: false
    DateFrom:
      type: string
      format: date
    DateTo:
      type: string
      format: date
    Periods:
      type: string
      pattern: ^\d{4}-\d{2}-\d{2}Z?(,\d{4}-\d{2}-\d{2}Z?)*$
    AggregationElement:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        balances:
          type: array
          description: The monthly change in balance for an account during a specific period.
          items:
            $ref: '#/components/schemas/AmountElement'
    AmountElement:
      type: object
      properties:
        date:
          type: string
          description: The date corresponding to the balance change.
          format: date
          example: '2024-01-01'
        opening:
          type: number
          description: The opening balance of the account for the specified period.
          example: 50000
        closing:
          type: number
          description: The closing balance of the account for the specified period.
          example: 55000
        change:
          type: number
          description: The change in balance for the account during the specified period.
          example: 5000
    Fiscal:
      type: object
      properties:
        startingDate:
          type: string
          format: date
        endingAt:
          type: string
          format: date
    Account1:
      type: object
      properties:
        id:
          type: integer
          description: A unique identifier for the account within 24SevenOffice accounting module.
          example: 1000001
        number:
          type: integer
          description: The unique number that indicates which type of account it belongs to.
          example: 1900
        name:
          type: string
          description: The human-readable name that describes the purpose or nature of the account.
          example: Cash, NOK
    Currencies:
      description: List of currencies available within the 24SevenOffice accounting module.
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/Currency'
    Currency:
      type: object
      properties:
        code:
          type: string
          description: The currency code used in transactions within the 24SevenOffice.
          example: USD
        rate:
          type: number
          description: The exchange rate of the currency.
          example: 1.25
    AccountingPeriod:
      type: object
      description: Details of a financial year/accounting period within the 24SevenOffice accounting module.
      properties:
        id:
          type: string
[...]
